[submodule "MX_Alps_Hybrid.pretty"]
	path = MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "random-keyboard-parts.pretty"]
	path = random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "freetronics_kicad_library"]
	path = freetronics_kicad_library
	url = https://github.com/freetronics/freetronics_kicad_library
[submodule "2-axis-joystick-breakout-board-with-mounting-holes"]
	path = 2-axis-joystick-breakout-board-with-mounting-holes
	url = https://github.com/adafruit/2-axis-joystick-breakout-board-with-mounting-holes
